<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- Assuming test_db is the database name
  and example.package.testapp is the package containing the application class-->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/ictskills?useSSL=false
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            ictskills
        </property>
        <property name="show_sql">
            true
        </property>
        <mapping class="example.package.testapp.db.models.User" />
        <mapping class="example.package.testapp.db.models.Location" />
    </session-factory>
</hibernate-configuration>